/* Write your CSS here */
.team-match-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: #d91c1f;
}
.image-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 100%;
}
@media (min-width: 768px) {
  .banner-img {
    width: 800px;
    height: 200px;
  }
}
.title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: roboto;
}
